.footer {
  width: 100%;
  color: goldenrod;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  background-color: #022140;
  padding-top: 5px;
}

.link {
  cursor: pointer;
  color: white;
  text-decoration-line: none;
  opacity: 0.7;
  transition: opacity 1s ease-in-out;
}

.link:hover {
  opacity: 1;
}

.footer p {
  margin: 0;
  padding: 5px;
}
